[Unit]
Description=dnsmasq - A lightweight DHCP and caching DNS server

[Service]
Type=forking
PIDFile=/var/run/dnsmasq/%i.pid

# Test the config file and refuse starting if it is not valid.
ExecStartPre=/usr/sbin/dnsmasq -C /etc/dnsmasq.dns/fake_dns_tor --test

# We run dnsmasq via the /etc/init.d/dnsmasq script which acts as a
# wrapper picking up extra configuration files and then execs dnsmasq
# itself, when called with the "systemd-exec" function.
ExecStart=/usr/sbin/dnsmasq -C /etc/dnsmasq.dns/fake_dns_tor

ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
